* {margin: 0; padding: 0; box-sizing: border-box;}

ol,ul,li {list-style: none;}

a {text-decoration: none;}

@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300&family=Dongle:wght@300&family=Noto+Sans+KR:wght@300&family=Poppins:wght@200&display=swap');