.po1 {
    h2 {
        font: bold 30px/1 "poppins";
        margin-bottom: 50px;
        color: #000;
    }

    h3 {
        // position: absolute;
        text-align: center;
        margin-bottom: 20px;
        // top: 21px;
        // right: 53px;
        font: bold 15px/1 "poppins";
        color: #000;
    }

    .po1Pic {
        margin: 0 auto;
        // border-top: 5px solid #fff;
        width: 700px;
        height: 500px;
        background-image: url(../img/1.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 30px;
    }

    .po1Comment {
        // position: absolute;
        bottom: 40px;
        background-color: #fff;
        // width: 60%;

        p {
            font: bold 18px/2 "noto sans kr";
            text-align: center;
            color: #000;
        }
    }

}